/* oxygen-300 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/oxygen-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oxygen-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/oxygen-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oxygen-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oxygen-700 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/oxygen-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oxygen-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #000000;
    --grey: #747F7F;
    --magenta: #FF4858;
    --dkblue: #3D5A80;
    --white: white;
    --lGrey: #F2F2F2;
    --font-size: 1.2rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* generic styles for the page */

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--white);
    color: var(--black);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--grey);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

.fa-icon{
    width: 1.2em;
    height: 1.2em;
    vertical-align: -.3em;
}

.fa-icon path{
    fill:var(--magenta)
}

.fa-icon:hover path{
    fill:var(--grey)
}

img {
    width: 100%;
}

.sr-only{
    display: none;
}

strong{
    font-weight: bold;
}

table {
    display: block;
    overflow-x: auto;
    /* white-space: nowrap; */
}

table tbody,table thead  {
    width: 100%;
}

table th{
    background-color: var(--lGrey);
}
table td{
    border: solid 1px var(--lGrey);
}

/* background color divs */

.gradient {
    background: rgb(255,72,88);
    background: linear-gradient(90deg, rgba(255,72,88,1) 0%, rgba(116,127,127,1) 100%);
    height: 2px;
}


/* contact section */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;
}

#contact p:last-child {
    margin-top: 3rem;
}


/* navigation */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--magenta);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--magenta);
}

nav a {
    color: var(--black);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--grey);
}

.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
    background-color: var(--grey);
}


/* footer section */

footer {
    text-align: center;
    padding: 1rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
}
footer img{
    width:auto;
}

/* media */

@media (min-width: 800px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
