
section{
    padding: 0rem 1rem;
}
section h1 {
    color: var(--magenta);
}
section .greybox{
    padding: 0rem 1rem;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--lGrey);
    font-size: 1.1rem;
    line-height: 1.5;
}
section time{
    display: block;
}
article{
    font-size: 1.3rem;
    padding: 0rem 1rem;
}

article img{
    margin:0 auto;
    display:block;
    max-width: 1000%;
}

@media (min-width: 800px) {
    article img{
        max-width:70%;
    }
}
