
section{
    padding: 0rem 1rem;
}
section h1 {
    color: var(--magenta);
}
section .greybox{
    padding: 0rem 1rem;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--lGrey);
    font-size: 1.1rem;
    line-height: 1.5;
}
section time{
    display: block;
}
article{
    font-size: 18px;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
}

article img{
    margin:0 auto;
    display:block;
    max-width: 80%;
    aspect-ratio: 16/9;
}

#pagination{
    font-size: 18px;
}

@media (min-width: 800px) {
    article{
        padding: 1rem 8rem;
    }
    article img{
        width:60%;
    }
    section{
        padding: 1rem 8rem;
    }
    section time{
        display: inline;
    }
}

@media (min-width: 1100px) {
    article{
        padding: 1rem 15rem;
    }
    article img{
        width:50%;
    }
    section{
        padding: 1rem 15rem;
    }
    section time{
        display: inline;
    }
}
