---
layout: layouts/base.njk
---
<link rel="stylesheet" href="{{ '/css/home.css' | url }}">
<div class="gradient"></div>
<div class="section-blue">
  <section id="projects">
    <h2>Sobre Andrés Velasco</h2>
    <article>
      <div class="text">
        <h3>Puntos clave</h3>
        <p class="blackbox">
              Description of the project. This should be fairly concise while
              also describing the key components that you developed or worked
              on. It can be as long as you need it to be but should at least be
              a few sentences long. Be sure to include specific links anywhere
              in the description. A link looks like
              <a href="https://frontendmasters.github.io/grid-flexbox-v2/"
                >this</a
              >, and multiple links look <a href="#">like this</a> and
                <a href="#">like this</a>.
                </p>
        <h4>My favorite technologies include:</h4>
        <ul>
          <li>API</li>
          <li>NodeJS</li>
          <li>Javascript</li>
        </ul>
      </div>
      <img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-1.png" alt="Christina Morillo at Pexels."/>
    </article>
  </section>
</div>
