---
layout: layouts/base.njk
---
<link rel="stylesheet" href="{{ '/css/home.css' | url }}">
<section id="intro">
  <p class="name">Hola, mi nombre es <span>{{personalInfo.name}}.</span></p>
  <h2>Facilito cosas.</h2>
  <p>
    He pasado el tiempo suficiente en la industria del software como para saber cuando <i>mergear</i> una <i>pull request</i> sin ser revisada.
  </p>
</section>

