---
layout: layouts/base.njk
---
<link rel="stylesheet" href="{{ '/css/home.css' | url }}">
<section id="intro">
  <p class="name">Hola, mi nombre es <span>{{personalInfo.name}}.</span></p>
  <h2>Facilito cosas.</h2>
  <p>
    Formado en Ingeniería del Software y Sistemas, desarrollo mi profesión con la máxima honestidad y humildad posible, asumiendo diferentes roles y responsabildiades tanto en desarrollo de producto como en servicio al cliente. Mi faceta más destacable es la capacidad que tengo para facilitar cosas a los demás, y facilitar que los demás trabajen conmigo de la mejor manera posible.
  </p>
</section>

