---
layout: layouts/base.njk
---
<link rel="stylesheet" href="{{ '/css/home.css' | url }}">
<section id="intro">
  {% set maxPosts = collections.posts.length | min(3) %}
    <h2>Última{% if maxPosts == 1 %} publicación{% else %}s {{ maxPosts }} publicaciones{% endif %}</h2>
</section>
<div class="content-section">
  <section id="projects">
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </section>
</div>
