---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<link rel="stylesheet" href="{{ '/css/home.css' | url }}">
<section id="intro">
  <h2>Tagged “{{ tag }}”</h2>
</section>
<div class="gradient"></div>
<div class="content-section">
  <section id="projects">
    {% set postslist = collections[ tag ] %}
    {% include "postslist.njk" %}
    <p>See <a href="{{ '/tags/' | url }}">Ver todas las etiquetas</a>.</p>
  </section>
</div>

