---
title: Blog de Andrés Velasco
type: page
eleventyComputed:
    meta:
        site:
            name: "{{site.title}}"
            description: "{{site.description}}"
            url: "{{site.url}}"
        language: es-ES
        image:
            src:
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/da6252f6c6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
        <title>{{title}}</title>
        {% jsonLdScript meta,
        type,
        tags %}

    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <h1>
                        <a href="/">
                            <span class="fas fa-code" aria-hidden="true"></span>
                            {{personalInfo.nickname}}</a
                    >
                    </h1>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="{{personalInfo.linkedin}}" target="_blank" rel="noopener">
                        <span class="fab fa-linkedin" aria-hidden="true"></span>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="{{personalInfo.github}}" target="_blank" rel="noopener">
                        <span class="fab fa-github-square" aria-hidden="true"></span>
                        <span class="sr-only">Github</span>
                    </a>
                </li>
                <li>
                    <a href="{{personalInfo.twitter}}" target="_blank" rel="noopener">
                        <span class="fab fa-twitter-square" aria-hidden="true"></span>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{personalInfo.email}}" class="button">Email</a
            >
                </li>
            </ul>
        </nav>
        {{ content | safe }}
        <div class="gradient"></div>
        <footer>
            <h2>{{personalInfo.name}} &middot; {{personalInfo.currentRole}}</h2>
            <ul>
                <li>
                    <a href="{{personalInfo.linkedin}}" target="_blank" rel="noopener">
                        <span class="fab fa-linkedin" aria-hidden="true"></span>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="{{personalInfo.github}}" target="_blank" rel="noopener">
                        <span class="fab fa-github-square" aria-hidden="true"></span>
                        <span class="sr-only">Github</span>
                    </a>
                </li>
                <li>
                    <a href="{{personalInfo.twitter}}" target="_blank" rel="noopener">
                        <span class="fab fa-twitter-square" aria-hidden="true"></span>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{personalInfo.email}}">
                        <span class="fas fa-envelope" aria-hidden="true"></span>
                        <span class="sr-only">Email</span>
                    </a>
                </li>
            </ul>
            <p>
                <a href="https://github.com/avcconti/blog/blob/main/{{ page.inputPath }}" target="_blank" rel="noopener">Edit this page on GitHub</a>

            </p>
            <p>
                <small>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small>

            </p>
            <p>
                <small>&copy; 2022 Andrés Velasco. Todos los derechos reservados.</small>
            </p>

        </footer>
    </body>
</html>
